.cover {
    background-image: url("/assets/img/anansi.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

